<%= form_with(model: component_material, local: true) do |form| %>
  <% if component_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(component_material.errors.count, "error") %> prohibited this component_material from being saved:</h2>

      <ul>
        <% component_material.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :component_id %>
    <%= form.text_field :component_id %>
  </div>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.text_field :material_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :measure_unit %>
    <%= form.text_field :measure_unit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
