<%= form_with(model: buy_option, local: true) do |form| %>
  <% if buy_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buy_option.errors.count, "error") %> prohibited this buy_option from being saved:</h2>

      <ul>
        <% buy_option.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.text_field :material_id %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
