<p id="notice"><%= notice %></p>

<p>
  <strong>Coordinate:</strong>
  <%= @section.coordinate %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @section.specialization %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
