<p id="notice"><%= notice %></p>

<p>
  <strong>Component:</strong>
  <%= @component_in_machine.component_id %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @component_in_machine.machine_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @component_in_machine.quantity %>
</p>

<%= link_to 'Edit', edit_component_in_machine_path(@component_in_machine) %> |
<%= link_to 'Back', component_in_machines_path %>
